@import "./main.scss";
.five {
  @extend %flex;
  @extend %fdc;
  background: #fafafa;
  height: 100%;
  & .five-top {
    margin-top: 48px;
    height: 184px;
    background: #fff;
    padding: 14px 15px 0px;
    >div {
      @extend %flex;
      border-bottom: 2px solid #eee;
      padding-bottom: 15px;
      justify-content: space-between;
      & .five-top-left {
        @extend %faj;
        width: 20%;
        height: 70px;
        border-radius: 50%;
        margin-left: 20px;
        & p {
          width: 66px;
          height: 66px;
          border-radius: 50%;
          & img {
            width: 66px;
            height: 66px;
            border-radius: 50%;
          }
        }
      }
      & .five-top-right {
        @extend %flex;
        @extend %fdc;
        @extend %jcontent;
        align-items: flex-start;
        margin-left: 20px;
        width: 70%;
        & p {
          color: #aaa;
          font-size: 16px;
          & span {
            margin-left: 6px;
          }
          & button {
            color: #F94E4E;
            border: none;
            background: none;
          }
        }
      }
      & .five-top-right2 {
        width: 10%;
        @extend %flex;
        @extend %aitems;
        margin-right: 10px;
        justify-content: end;
        & img {
          width: 34px;
          height: 34px;
        }
        & .totransition {
          transition: All 2.4s ease-in-out;
          transform: rotate(3600deg);
        }
      }
    }
    >ul {
      @extend %flex;
      @extend %sbetween;
      & li {
        @extend %faj;
        @extend %fdc;
        width: 25%;
        & img {
          width: 38px;
          height: 38px;
          margin-top: 12px;
        }
        & span {
          color: #5e5e5e;
          margin: 10px 0px;
        }
      }
    }
  }
  & .five-content {
    border-top: #e8e8e8 2px solid;
    background: #fff;
    >ul {
      & li {
        @extend %flex;
        @extend %sbetween;
        @extend %aitems;
        height: 54px;
        border-bottom: 1px solid #e8e8e8;
        font-size: 16px;
        & .five-content-nav {
          @extend %flex;
          >i {
            color: rgb(175, 58, 49);
            margin: 0px 15px;
            font-size: 20px;
            width: 22px;
            padding-left: 12px;
            text-align: center;
          }
          & p {
            color: #5e5e5e;
            font-size: 16px;
          }
        }
        >i {
          margin-right: 15px;
          color: #ccc;
        }
      }
    }
  }
}

.NoticeBox {
  @extend %flex;
  margin-right: 16px;
  // & .isNotices.active {
  //   background: rgb(175, 58, 49);
  //   width: 12px;
  //   height: 12px;
  //   border-radius: 50%;
  //   margin-right: 16px;
  // }
}

.icon-top {
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border-radius: 35%;
  text-align: center;
  & i {
    margin-top: 13px;
    font-size: 26px;
    color: #fff;
  }
}

.top-1 {
  background: #ff5f5f;
}

.top-2 {
  background: #ffac5f;
}

.top-3 {
  background: #75dac4;
}

.top-4 {
  background: #81afe4;
}
