@import "../main.scss";
.klc {
  height: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  ul {
    @extend %flex;
    @extend %fr;
    background: #fff;
    margin: 6px 0px;
    width: 100%;
    border-top: 1px solid #DFE4ED;
    & li {
      @extend %faj;
      @extend %fdc;
      border: 1px solid #DFE4ED;
      border-top: 0px solid #DFE4ED;
      border-left: 0px solid #DFE4ED;
      width: 33%;
      padding: 5px 0 10px;
      & span {
        margin: 10px 0px 5px;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        & i.iconfont{
          font-size: 56px;
        }
      }
      & h5 {
        font-weight: 400;
        color: #333;
      }
    }
  }
}
