@import "../main.scss";
.winning {
  margin-top: 46px;
  background: #fff;
  height: 100%;
  & ul {
    background: #fff;
    & li:nth-child(1) {
      //background: rgba(250, 114, 80, 0.2);
      font-weight: 600;
      height: 70px;
      font-size: 20px;
      border: 1px rgba(255, 201, 187, 0.1) solid;
      position: relative;
      overflow: hidden;
      & p{
        @extend %flex;
        z-index: 2;
      }
      & span {
        font-size: 18px;
        color: #fff;
        line-height: 30px;
        z-index: 2;
      }
      & span:nth-child(1) {
        font-size: 22px;
        color: #fff;
        line-height: 28px;
        z-index: 2;
      }
      & .winning-right {
      position: absolute;
      top:-50vw;
      left:-10vw;
      width:98vw;
      height:98vw;
      z-index: 0;
      margin-top:0px;
      margin-left:0px;
      background: linear-gradient(68deg, rgba(179, 35, 35, .7)40%, rgba(194, 144, 71, .7)100%); 
      background: -moz-linear-gradient(68deg, rgba(179, 35, 35, .7)40%, rgba(194, 144, 71, .7)100%); 
      background: -webkit-linear-gradient(68deg, rgba(179, 35, 35, .7)40%, rgba(194, 144, 71, .7)100%); 
      background: -o-linear-gradient(68deg, rgba(179, 35, 35, .7)40%, rgba(194, 144, 71, .7)100%); 
      border-radius: 42%;
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
      transform-origin: 50% 48%;
      animation: waves 3s infinite linear;
      opacity: .9;
      }
      & .winning-right2 {
        position: absolute;
        top:-48vw;
        left:-10vw;
        width:100vw;
        height:100vw;
        z-index: 0;
        margin-top:0px;
        margin-left:0px;
        background: linear-gradient(68deg, rgba(179, 35, 35, .6)40%, rgba(194, 144, 71, .7)100%); 
        background: -moz-linear-gradient(68deg, rgba(179, 35, 35, .6)40%, rgba(194, 144, 71, .7)100%); 
        background: -webkit-linear-gradient(68deg, rgba(179, 35, 35, .6)40%, rgba(194, 144, 71, .7)100%); 
        background: -o-linear-gradient(68deg, rgba(179, 35, 35, .6)40%, rgba(194, 144, 71, .7)100%); 
        border-radius: 42%;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
        transform-origin: 50% 48%;
        animation: waves 1.5s infinite linear;
        opacity: .5;
        }
    @keyframes waves {
      0%{
        transform: rotate(0deg);
      }
      100%{
        transform: rotate(360deg);
      }
    }
      
    }
    & li:nth-child(odd) {
      background: rgba(255, 201, 187, 0.1);
    }
    & li {
      @extend %flex;
      @extend %aitems;
      @extend %sbetween;
      padding: 0px 20px;
      height: 60px;
      border-bottom: 1px solid #e8e8e8;
      & .winning-left {
        @extend %flex;
        @extend %aitems;
        & img {
          width: 40px;
          height: 40px;
          margin-right: 20px;
          border-radius: 0px 6px 6px 0px;
          z-index: 2;
        }
        & .winning-xq {
          & p {
            font-size: 14px;
            color: #666;
          }
        }
        & .winning-xq p:nth-child(1) {
          & :nth-child(1) {
            display: inline-block;
            width: 100px;
            font-size: 16px;
          }
        }
        & .winning-xq p:nth-child(2) {
          font-size: 16px;
          padding-left: 1px;
          @extend %flex;
          color: red;
        }
      }
      & .winning-right {
        @extend %faj;
        width: 30px;
        height: 30px;
        font-size: 16px;
      }
    }
  }
}
