@import "../main.scss";
.detail {
  .detail-top {
    @extend %faj;
    width: 100%;
    height: 46px;
    font-size: 20px;
    background: rgb(175, 58, 49);
    & i {
      @extend %faj;
      width: 20%;
      color: #fff;
    }
    & p {
      @extend %faj;
      width: 60%;
      color: #fff;
    }
    & span{
      @extend %faj;
      width: 20%;
    }
    & ul {
      @extend %flex;
      @extend %aitems;
      width: 20%;
      border: 1px solid #fff;
      height: 32px;
      border-radius: 4px;
      & li {
        font-size: 16px;
        padding: 0px 14px;
        height: 32px;
        line-height: 32px;
        color: #fff;
      }
      & .router-link-exact-active.router-link-active {
        background: #fff;
        color: #dc3b40;
      }
    }
  }
  & .detail-content {
    height: 100%;
  }
}
