@import '../../main.scss';
.betk3 {
  width: 100%;
  height: 100%;
  @extend %flex;
  @extend %fdc;
  @extend %sbetween;
  position: relative;
  overflow: hidden;
  & .betk3-top {
    @extend %flex;
    @extend %aitems;
    @extend %sbetween;
    height: 56px;
    font-size: 16px;
    padding: 0px 16px;
    background: rgb(175, 58, 49);
    color: #fff;
    & li {
      width: 33.33%;
    }
    & li:nth-child(2) {
      @extend %faj;
      width: 46%;
      text-align: center;
      font-size: 12px;
      & .wangfa {
        margin: 0px;
        margin-right: 4px;
      }
      & .menu {
        @extend %faj;
        font-size: 16px;
        padding: 2px 6px;
        border: 1px solid hsla(0, 0%, 100%, .5);
        border-radius: 4px;
        color: #fff;
        & i {
          color: #f0c930;
          font-size: 24px;
        }
      }
      & .menu-list {
        @extend %flex;
        @extend %fdc;
        position: absolute;
        left: 0px;
        top: 46px;
        z-index: 20180608;
        width: 100%;
        height: 100%;
        background-color:rgba(0,0,0,.4);
        & .menu-listShow {
          & .menu-list-top {
            @extend %flex;
            @extend %fdr;
            @extend %fr;
            padding: 30px 26px 0px;
            background: #317455;
            & li {
              @extend %flex;
              @extend %aitems;
              @extend %fdc;
              background: #317455;
              border-radius: 5%;
              border: 1px solid hsla(0, 0%, 100%, .4);
              margin: 0px 10px 10px 0px;
              font-size: 12px;
              padding: 4px;
              width: 90px;
              >div {
                @extend %flex;
                @extend %aitems;
                height: 24px;
              }
              & .title {
                font-size: 16px;
              }
              & .xq {
                color: #caebda;
                height: 30px;
              }
              & .img {
                @extend %flex;
                & span {
                  width: 28px;
                  height: 28px;
                  background-image: url(../../../assets/img/one/diceK3.png);
                  background-size: 200% 600%;
                  vertical-align:middle;
                }
              }
            }
            & li.active {
              border: 1px solid #f4c829;
            }
            & li:nth-child(3n){
              margin-right: 0px;
            }
            & li:nth-child(7) {
              margin-right: 0px;
            }
          }
        }
      }
    }
    & li:nth-child(3) {
      text-align: right;
      & div.betk3listRight{
        position: fixed;
        top: 46px;
        right: 0px;
        z-index: 20180608;
        width: 170px;
        // background: rgba(220, 220, 220, 0.8);
        padding: 10px 0 10px 10px;
        border-radius: 0 0 0 10px;
        & ul {
          @extend %flex;
          @extend %fr;
          position: absolute;
          top: 0px;
          right: 0px;
          width: 170px;
          background: rgba(220, 220, 220, 0.8);
          padding: 10px 0 10px 10px;
          border-radius: 0 0 0 10px;
          & li {
            @extend %faj;
            border-radius: 5px;
            width: 45%;
            font-size: 14px;
            color: #666;
            background: #fff;
            padding: 6px 0px;
            margin: 2px;
          }
        }
      }
      & ul {
        @extend %flex;
        @extend %fr;
        position: absolute;
        top: 46px;
        right: 0px;
        width: 170px;
        background: rgba(220, 220, 220, 0.8);
        padding: 10px 0 10px 10px;
        border-radius: 0 0 0 10px;
        & li {
          @extend %faj;
          border-radius: 5px;
          width: 45%;
          font-size: 14px;
          color: #666;
          background: #fff;
          padding: 6px 0px;
          margin: 2px;
        }
      }
    }
    & i {
      color: #fff;
      font-size: 20px;
    }
  }
}
.listStyle {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}
.pageNum0{
  transition: .6s;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -o-transform: translateX(0px);
}
.pageNum1{
  transition: .6s;
  transform: translateX(460px);
  -webkit-transform: translateX(460px);
  -moz-transform: translateX(460px);
  -o-transform: translateX(460px);
}

.betk3-content {
  @extend %flex;
  @extend %fdc;
  @extend %sbetween;
  position: relative;
  height: 100%;
  background: #317455;
  background-image: url(../../../assets/img/one/texture.png);
  background-repeat: repeat;
  background-size: auto;
  overflow: hidden;
  >div {
    height: 100%;
    & .betk3-content-top {
      @extend %flex;
      @extend %sbetween;
      background: #22563f;
      color: #caebda;
      width: 100%;
      height: 60px;
      & .content-left {
        @extend %flex;
        @extend %fdc;
        @extend %aitems;
        width: 50%;
        height: 60px;
        border-right: 1px solid #164630;
        & p {
          font-size: 16px;
          height: 28px;
          line-height: 28px;
        }
        & .contnet-left-num {
          @extend %flex;
          @extend %aitems;
          margin-bottom: 4px;
          & p.Dice{
            background: url(../../../assets/img/one/diceK3.png);
            background-size: 200% 600%;
            vertical-align:middle;
          }
          & p.Dice.Dice1{
            background-position: 0 0;
          }
          & p.Dice.Dice2{
            background-position: 0 -100%;
          }
          & p.Dice.Dice3{
            background-position: 0 -200%;
          }
          & p.Dice.Dice4{
            background-position: 0 -300%;
          }
          & p.Dice.Dice5{
            background-position: 0 -400%;
          }
          & p.Dice.Dice6{
            background-position: 0 -500%;
          }
          & p {
            width: 28px;
            height: 28px;
            overflow: hidden;
            background-size: 100% 100%;
          }
          & .num {
            align-items: center;
            height: 28px;
            line-height: 28px;
            overflow: hidden;
            & .span {
              color: #fff;
              width: 28px;
              height: 28px;
              font-weight: bold;
              float: left;
              & div {
                color: #fff;
                width: 28px;
                height: 28px;
                background-size: 100% 100%;
              }
              & div.Dice{
                background: url(../../../assets/img/one/diceK3.png);
                background-size: 200% 600%;
                vertical-align:middle;
              }
              & div.Dice1,div.Dice4{
                background-position: -100% 0;
              }
              & div.Dice2,div.Dice5{
                background-position: -100% -100%;
              }
              & div.Dice3,div.Dice6{
                background-position: -100% -200%;
              }
            }
            & .span:nth-child(2) {
              margin: 0px 2px;
            }
          }
          & i {
            font-size: 30px;
            color: #78ba9e;
          }
        }
      }
      & .content-right {
        @extend %flex;
        @extend %aitems;
        @extend %sbetween;
        width: 50%;
        height: 60px;
        padding-left: 10px;
        & .seasonId {
          font-size: 16px;
          height: 28px;
          line-height: 28px;
        }
        & .time {
          @extend %faj;
          height: 32px;
          & p {
            font-size: 26px;
          }
        }
        & i {
          font-size: 30px;
          color: #78ba9e;
          margin-right: -10px;
        }
      }
    }
    & .betk3-content-foot {
      @extend %flex;
      @extend %aitems;
      @extend %fdc;
      padding: 20px 15px 0px;
      // overflow: hidden;
      overflow-y: scroll;
      height: 100%;
      & p {
        color: #caebda;
        font-size: 12px;
        width: 100%;
        & .k3remark {
          color: #f0c930;
        }
        >ul {
          @extend %flex;
          @extend %fr;
          margin-top: 10px;
          padding-bottom: 240px;
          & li {
            @extend %faj;
            @extend %fdc;
            width: 22%;
            margin: 3px;
            border-radius: 5px;
            border: 1px solid hsla(0, 0%, 100%, .3);
            padding: 5px 0px 8px;
            & h2 {
              font-size: 18px;
              color: #fff;
              width: 20px;
              height: 20px;
              padding-bottom: 3px;
            }
            & span {
              font-size: 8px !important;
              color: #caebda;
            }
          }
          & li.active {
            @extend %faj;
            @extend %fdc;
            width: 22%;
            margin: 3px;
            border: 1px solid #f4c829;
            padding: 5px 0px 8px;
            & h2 {
              font-size: 18px;
              color: #f4c829;
            }
            & span {
              font-size: 12px;
              color: #f4c829;
            }
          }
        }
        & .hezhi {
          height: 100%;
          & li:nth-child(1),
          & li:nth-child(2),
          & li:nth-child(3),
          & li:nth-child(4) {
            width: 44%;
            border: 5px solid hsla(0, 0%, 100%, .3);
          }
          & li.active:nth-child(1),
          & li.active:nth-child(2),
          & li.active:nth-child(3),
          & li.active:nth-child(4) {
            width: 44%;
            border: 5px solid #f4c829;
          }
        }
      }
    }
  }
}

.lookAllDiv {
  @extend %flex;
  @extend %fdc;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: #22563f;
  & .lookAllDivTitle {
    @extend %faj;
    width: 100%;
    height: 50px;
    line-height: 1.493333rem;
    background: rgb(175, 58, 49);
    color: #FFF;
    font-size: 18px;
    & i {
      @extend %faj;
      width: 20%;
      font-size: 20px;
      color: #FFF;
    }
    & b.cont{
      @extend %faj;
      width: 60%;
      font-weight: 400;
    }
    & span{
      @extend %faj;
      width: 20%;
    }
  }
  & .lookAllUlBox {
    width: 100%;
    height: 93%;
    position: absolute;
    z-index: 1000;
    top: 50px;
    left: 0px;
    overflow-y: scroll;
    & .lookAllUl {
      width: 100%;
      background: #22563f;
      padding-bottom: 20px;
      & li {
        @extend %flex;
        & p {
          @extend %faj;
          font-size: 14px;
          color: #caebda;
          & a {
            width: 28px;
            height: 28px;
            overflow: hidden;
            color: #caebda;
            margin-right: 4px;
            background-size: 100% 100%;
            & span{
              display: inline-block;
              width: 28px;
              height: 28px;
              background: url(../../../assets/img/one/diceK3.png);
              background-size: 200% 600%;
              vertical-align:middle;
            }
            & span.Dice.Dice1{
              background-position: 0 0;
            }
            & span.Dice.Dice2{
              background-position: 0 -100%;
            }
            & span.Dice.Dice3{
              background-position: 0 -200%;
            }
            & span.Dice.Dice4{
              background-position: 0 -300%;
            }
            & span.Dice.Dice5{
              background-position: 0 -400%;
            }
            & span.Dice.Dice6{
              background-position: 0 -500%;
            }
          }
        }
        & p:nth-child(1),
        & p:nth-child(2) {
          width: 30%;
        }
        & p:nth-child(3),
        & p:nth-child(4),
        & p:nth-child(5) {
          width: 12%;
        }
        & p:nth-child(1) {
          position: relative;
          border-right: 1px solid #212121;
          & i {
            font-weight: 700;
            font-size: 16px;
            color: #212121;
            position: absolute;
            right: -8px;
          }
        }
        & .goodluck {
          @extend %faj;
          width: 19px;
          height: 19px;
          background: #5691D7;
          color: #FFF;
          border-radius: 2px;
        }
        & .goodidea {
          @extend %faj;
          width: 19px;
          height: 19px;
          background: #FF961F;
          color: #FFF;
          border-radius: 2px;
        }
      }
      & li:nth-child(1) {
        border-top: 1px solid hsla(0, 0%, 100%, .3);
        border-bottom: 1px solid #212121;
        & p:nth-child(1) {
          border: none;
        }
      }
    }
  }
}

.betk3-content-top-pop {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:rgba(0,0,0,.4);
  & .look {
    background: #22563f;
    & li {
      @extend %flex;
      & p {
        @extend %faj;
        font-size: 14px;
        color: #caebda;
        & a {
          width: 28px;
          height: 28px;
          overflow: hidden;
          color: #caebda;
          margin-right: 4px;
          background-size: 100% 100%;
          & span{
            display: inline-block;
            width: 28px;
            height: 28px;
            background: url(../../../assets/img/one/diceK3.png);
            background-size: 200% 600%;
            vertical-align:middle;
          }
          & span.Dice.Dice1{
            background-position: 0 0;
          }
          & span.Dice.Dice2{
            background-position: 0 -100%;
          }
          & span.Dice.Dice3{
            background-position: 0 -200%;
          }
          & span.Dice.Dice4{
            background-position: 0 -300%;
          }
          & span.Dice.Dice5{
            background-position: 0 -400%;
          }
          & span.Dice.Dice6{
            background-position: 0 -500%;
          }
        }
      }
      & p:nth-child(1),
      & p:nth-child(2) {
        width: 30%;
      }
      & p:nth-child(3),
      & p:nth-child(4),
      & p:nth-child(5) {
        width: 12%;
      }
      & p:nth-child(1) {
        position: relative;
        border-right: 1px solid #212121;
        & i {
          font-weight: 700;
          font-size: 16px;
          color: #212121;
          position: absolute;
          right: -8px;
        }
      }
      & .goodluck {
        @extend %faj;
        width: 19px;
        height: 19px;
        background: #5691D7;
        color: #FFF;
        border-radius: 2px;
      }
      & .goodidea {
        @extend %faj;
        width: 19px;
        height: 19px;
        background: #FF961F;
        color: #FFF;
        border-radius: 2px;
      }
    }
    & li:nth-child(1) {
      border-top: 1px solid hsla(0, 0%, 100%, .3);
      border-bottom: 1px solid #212121;
      & p:nth-child(1) {
        border: none;
      }
    }
  }
  .lookAll {
    @extend %faj;
    padding: 8px 0px 8px;
    background: #22563f;
    & button {
      border: 1px solid #caebda;
      background: none;
      color: #caebda;
      padding: 4px 20px;
      border-radius: 4px;
      margin: 0px 8px;
    }
  }
}

.betk3-footer {
  position: relative;
  background: #333;
  color: rgb(175, 58, 49);
  width: 100%;
  & .betk3-footer-top {
    @extend %flex;
    @extend %fdc;
    position: absolute;
    top: -60px;
    background: #22563f;
    height: 60px;
    color: #caebda;
    font-size: 16px;
    width: 100%;
    & .betk3-footer-tops {
      @extend %flex;
      @extend %aitems;
      padding: 0px 16px;
      height: 50%;
      & span {
        color: #f4c829;
        width: 210px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        height: 20px;
        padding-left: 2%;
      }
      & p {
        width: 20%;
      }
    }
    & .betk3-footer-buttoms {
      @extend %flex;
      @extend %aitems;
      height: 50%;
      padding: 0px 16px;
      & input {
        width: 20%;
        margin-left: 10px;
        padding: 0px 4px;
        text-align: center;
        border: none;
        border-radius: 2px;
        font-size: 16px;
      }
      & span {
        @extend %flex;
        @extend %aitems;
        @extend %fdr;
        width: 45%;
        font-size: 12px;
        margin-left: 6px;
        & p {
          text-align: center;
          color: #f4c829;
          width: auto;
        }
      }
      & p {
        width: 20%;
      }
    }
  }
  & .betk3-footer-buttom {
    @extend %flex;
    @extend %aitems;
    @extend %sbetween;
    background: #414141;
    height: 56px;
    padding: 0px 16px;
    & .betk3-footer-buttom-left {
      @extend %flex;
      @extend %aitems;
      & button {
        background: none;
        border: none;
        color: #f4c829;
        font-size: 22px;
        margin-right: 12px;
      }
      & p {
        color: #fff;
        font-size: 16px;
        & span {
          margin: 0px 4px;
        }
      }
    }
    & .betk3-footer-buttom-right {
      @extend %faj;
      font-size: 18px;
      height: 40px;
      width: 100px;
      color: #fff;
      border-radius: 6px;
      background: rgb(175, 58, 49);
    }
  }
}

.bete {
  @extend %flex;
  flex-wrap: nowrap;
  & p {
    height: 40px;
    @extend %flex;
    & b {
      width: 60px;
    }
    & span {
      display: inline-block;
      width: 150px !important;
    }
  }
}

.menu-list-top li:nth-child(1) {
  & span.img1 {
    background-position: 0 0;
  }
  & span.img2 {
    background-position: 0 -100%;
  }
  & span.img3 {
    background-position: 0 -200%;
  }
}

.menu-list-top li:nth-child(2) {
  & span.img1 {
    background-position: 0 0;
  }
  & span.img2 {
    background-position: 0 0;
  }
  & span.img3 {
    background-position: 0 -200%;
  }
}

.menu-list-top li:nth-child(3) {
  & span.img1 {
    background-position: 0 0;
  }
  & span.img2 {
    background-position: 0 -300%;
  }
  & span.img3 {
    background-position: 0 -300%;
  }
}

.menu-list-top li:nth-child(4) {
  & span.img1 {
    background-position: 0 -100%;
  }
  & span.img2 {
    background-position: 0 -200%;
  }
  & span.img3 {
    background-position: 0 -300%;
  }
}

.menu-list-top li:nth-child(5) {
  & span.img1 {
    background-position: 0 0;
  }
  & span.img2 {
    background-position: 0 0;
  }
  & span.img3 {
    background-position: 0 -200%;
  }
}

.menu-list-top li:nth-child(6) {
  & span.img1 {
    background-position: 0 0;
  }
  & span.img2 {
    background-position: 0 -100%;
  }
  & span.img3 {
    background-position: 0 -200%;
  }
}

.menu-list-top li:nth-child(7) {
  & span.img1 {
    background-position: 0 0;
  }
  & span.img2 {
    background-position: 0 0;
  }
  & span.img3 {
    background-position: 0 0;
  }
}

.yishai,
.erbutong,
.sanbutong {
  @extend %flex;
  @extend %sbetween;
  & li {
    width: 12% !important;
    & h2 {
      width: 28px !important;
      height: 28px !important;
      padding: 0px !important;
    }
  }
  @for $i from 1 through 6 {
    > li:nth-child(#{$i}){
      & h2{
        background-image: url(../../../assets/img/one/diceK3.png);
        background-size: 200% 600%;
        background-position: 0% -100% * ($i - 1);
      }
    }
  }
}

.ertonghao {
  border: none !important;
  & li {
    border: none !important;
    width: 100% !important;
    @extend %flex;
    & ul {
      @extend %flex;
      @extend %aitems;
      @extend %fr;
      width: 100% !important;
      & li {
        border: 0.026667rem solid rgba(255, 255, 255, 0.3);
        width: 32% !important;
        margin: 0px !important;
        & span{
          @extend %faj;
          width: 85%;
          font-size: 14px !important;
          font-weight: 600;
          padding: 6px 0px;
          border-radius: 6px;
          background: #164630;
          border: 1px solid #164630;
          margin-bottom: 0px;
        }
        & span {
          & a:nth-child(1) {
            width: 22px;
            height: 22px;
          }
          & a:nth-child(2) {
            width: 22px;
            height: 22px;
          }
          & a:nth-child(3) {
            width: 22px;
            height: 22px;
          }
        }
        & span.active {
          border: 1px solid #f4c829;
        }
      }
      & li:nth-child(16),
      & li:nth-child(17),
      & li:nth-child(18),
      & li:nth-child(34),
      & li:nth-child(35),
      & li:nth-child(36) {
        & span {
          background: #317455;
          border-color: rgba(255, 255, 255, 0.4);
          font-size: 12px !important;
          & a:nth-child(3) {
            width: 0px;
            height: 0px;
          }
        }
      } 
    }
  }
}

.sanlianhao {
  @extend %flex;
  @extend %sbetween;
  border: none !important;
  & li {
    @extend %faj;
    border: 0.026667rem solid rgba(255, 255, 255, 0.3);
    margin: 0px !important;
    padding: 0px !important;
    & h2 {
      @extend %faj;
      width: 100% !important;
      height: 28px !important;
      overflow: hidden;
      margin: 4px 0px 0px;
      padding-left: 4px;
      & a {
        width: 28px !important;
        height: 28px !important;
        background-image: url(../../../assets/img/one/diceK3.png);
        background-size: 200% 600%;
      }
    }
  }
  & li:nth-child(1) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% 0%;
      }
      & a:nth-child(2) {
        background-position: 0% -100%;
      }
      & a:nth-child(3) {
        background-position: 0% -200%;
      }
    }
  }
  & li:nth-child(2) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% -100%;
      }
      & a:nth-child(2) {
        background-position: 0% -200%;
      }
      & a:nth-child(3) {
        background-position: 0% -300%;
      }
    }
  }
  & li:nth-child(3) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% -200%;
      }
      & a:nth-child(2) {
        background-position: 0% -300%;
      }
      & a:nth-child(3) {
        background-position: 0% -400%;
      }
    }
  }
  & li:nth-child(4) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% -300%;
      }
      & a:nth-child(2) {
        background-position: 0% -400%;
      }
      & a:nth-child(3) {
        background-position: 0% -500%;
      }
    }
  }
  
}

.santonghao {
  @extend %flex;
  border: none !important;
  & li {
    @extend %flex;
    @extend %jcontent;
    border: 0.026667rem solid rgba(255, 255, 255, 0.3);
    margin: 0px 4px 8px !important;
    width: 30% !important;
    & h2 {
      @extend %flex;
      @extend %jcontent;
      width: 100% !important;
      height: 28px;
      overflow: hidden;
      & a {
        @extend %flex;
        width: 28px !important;
        height: 28px !important;
        background-image: url(../../../assets/img/one/diceK3.png);
        background-size: 200% 600%;
      }
    }
  }
  & p {
    @extend %faj;
    width: 100%;
    margin-top: 20px;
    & span {
      @extend %faj;
      width: 110px;
      height: 26px;
      border: 0.026667rem solid rgba(255, 255, 255, 0.3);
    }
    & span.active {
      border: 1px solid #f4c829;
      color: #f4c829;
    }
  }
  & li:nth-child(1) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% 0%;
      }
      & a:nth-child(2) {
        background-position: 0% 0%;
      }
      & a:nth-child(3) {
        background-position: 0% 0%;
      }
    }
  }
  & li:nth-child(2) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% -100%;
      }
      & a:nth-child(2) {
        background-position: 0% -100%;
      }
      & a:nth-child(3) {
        background-position: 0% -100%;
      }
    }
  }
  & li:nth-child(3) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% -200%;
      }
      & a:nth-child(2) {
        background-position: 0% -200%;
      }
      & a:nth-child(3) {
        background-position: 0% -200%;
      }
    }
  }
  & li:nth-child(4) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% -300%;
      }
      & a:nth-child(2) {
        background-position: 0% -300%;
      }
      & a:nth-child(3) {
        background-position: 0% -300%;
      }
    }
  }
  & li:nth-child(5) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% -400%;
      }
      & a:nth-child(2) {
        background-position: 0% -400%;
      }
      & a:nth-child(3) {
        background-position: 0% -400%;
      }
    }
  }
  & li:nth-child(6) {
    & h2 {
      & a:nth-child(1) {
        background-position: 0% -500%;
      }
      & a:nth-child(2) {
        background-position: 0% -500%;
      }
      & a:nth-child(3) {
        background-position: 0% -500%;
      }
    }
  }
  & li:nth-child(7) {
    width: 100% !important;
    border: none !important;
    & h2{
      @extend %flex;
      @extend %aitems;
      height: 32px !important;
      width: 33% !important;
      border: 0.026667rem solid rgba(255, 255, 255, 0.3);
      border-radius: 6px;
    }

  }
}

.betcBox {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
}

.betc {
  @extend %flex;
  @extend %fdc;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -165px;
  margin-top: -80px;
  width: 320px;
  background: #fff;
  & li {
    @extend %faj;
    border-bottom: 1px solid #DFE4ED;
    min-height: 30px;
    font-size: 14px;
  }
  & li:nth-child(1) {
    height: 36px;
    color: #fff;
    font-size: 16px;
    background: rgb(175, 58, 49);
  }
  & li:nth-child(2) {
    @extend %flex;
    @extend %fdc;
    min-height: 54px;
    padding: 4px 0px;
    & p {
      @extend %flex;
      @extend %aitems;
      padding: 4px 0px 4px 60px;
      width: 100%;
      & span {
        width: 30%;
      }
      & span.popcon {
        word-wrap: break-word;
        width: 178px;
      }
      & b {
        color: red;
        font-weight: 400;
      }
    }
  }
  & li:nth-child(3) {
    height: 40px;
    & button {
      width: 50%;
      border: none;
      color: #22563f;
      background: none;
    }
    & button:nth-child(2) {
      color: #dc3b40;
    }
  }
}

